body {
    width: 960px;
    margin: 0 auto;
}

header {
    font-size: 72pt;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:red;
}

.container-columns {
    width: 460px;
    margin: 0 auto;
}

.gameDiv {
    height:50px;
}
